.card {
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card-body {
  background-color: #333;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.card-text {
  color: #ccc;
}

.card-text.price {
  color: #f39c12;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

.card-text.description {
  font-size: 0.9rem;
  color: #aaa;
}

#featured-products .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
#featured-products .col-md-4 {
  flex: 1 1 calc(33% - 20px);
  max-width: calc(33% - 20px);
}

.button {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #c87f0a;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}